<div class="top-action">
  <button mat-raised-button color="primary" [routerLink]="['add-new']">Add New Offer</button>
</div>



<hr class="center-square">

<div class="table-container">
  <table>
    <thead>
    <tr class="table-head">
      <th scope="col">{{'Image'}}</th>
      <th scope="col">{{'Name'}}</th>
      <th scope="col">{{'Priority'}}</th>
      <th scope="col">{{'Actions'}}</th>
    </tr>
    </thead> <!-- End Table Head -->
    <tr *ngFor="let data of offerBanners | sort:'priority'; let i =index">
      <td [attr.data-label]="'Image'">
        <img class="table-image" [src]="data?.image ? data.image : '/assets/images/placeholder/test.png'"
             [alt]="data.title">
      </td>
      <td [attr.data-label]="'Name'">{{data.title}}</td>
      <td [attr.data-label]="'Priority'">{{data.priority}}</td>
      <td [attr.data-label]="'Actions'">
        <button mat-mini-fab color="warn" (click)="openDeleteOfferConfirmDialog(data)">
          <mat-icon>delete</mat-icon>
        </button>

      </td>
    </tr><!-- End Table Body -->

  </table>

</div>


<!--<div class="container">-->

<!--  <div class="card-view" fxLayout="row wrap">-->
<!--    <ng-container *ngFor="let data of offerBanners | sort:'priority'; let i =index">-->
<!--      <div class="card px-1" [fxFlex]="i % 5 === 0 ? '66.67' : '33.33'" -->
<!--      [fxFlex.xs]="i % 1 === 0 ? '100' : '100'"-->
<!--      [fxFlex.sm]="i % 2 === 0 ? '50' : '50'"-->
<!--      >-->
<!--        <img [src]="data.image" alt="">-->
<!--        <div class="action">-->
<!--          <button mat-mini-fab color="warn" (click)="openDeleteOfferConfirmDialog(data)">-->
<!--            <mat-icon>delete</mat-icon>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->

<!--    </ng-container>-->
<!--  </div>-->

<!--</div>-->



<!--<div class="menu-accordion-container">-->
<!--  <mat-accordion multi>-->
<!--    <mat-expansion-panel *ngFor="let tab of tabData; let i = index">-->
<!--      <mat-expansion-panel-header>-->
<!--        <mat-panel-title>-->
<!--          {{tab.label}}-->
<!--        </mat-panel-title>-->
<!--      </mat-expansion-panel-header>-->

<!--      <div class="main-content">-->
<!--        <div class="banner-cards">-->
<!--          <div class="item-card" *ngFor="let b of tab.bannerData | sort:'order'">-->
<!--            <img [src]="b.image" alt="">-->
<!--            <h5>Order > {{b.order}}</h5>-->
<!--            <div class="card-action">-->
<!--              <button mat-mini-fab color="accent" (click)="openDeleteOfferConfirmDialog(tab._id, b)"><mat-icon>delete</mat-icon></button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="action">-->
<!--          <button (click)="navigateTo('add-new/' + tab._id)" mat-raised-button color="primary">Add Offer Data</button>-->
<!--          <button (click)="openConfirmDialog(tab._id)" mat-raised-button color="warn">Delete</button>-->
<!--        </div>-->
<!--      </div>-->

<!--    </mat-expansion-panel>-->

<!--  </mat-accordion>-->
<!--</div>-->

<!-- (click)="navigateTo('add-new')" -->
