<div style="position: relative" class="dialog-container">

  <div class="header-dialog">
    <h1 mat-dialog-title>Sub Category</h1>
    <mat-checkbox [(ngModel)]="autoSlug" (change)="autoGenerateSlug()" color="primary">Auto Slug</mat-checkbox>
  </div>


  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()" autocomplete="off" #formDirective="ngForm">

    <div>
      <div fxLayout="row wrap">
        <div fxFlex="100">
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [disableOptionCentering]="true" #select placeholder="Select parent category *" required
                        formControlName="parentCategory">
              <mat-select-filter [placeholder]="'Filter Category List'"
                                 *ngIf="select.focused"
                                 [array]="categories"
                                 [displayMember]="'categoryName'"
                                 (filteredReturn)="filteredCatList = $event"></mat-select-filter>
              <mat-option *ngFor="let item of filteredCatList" [value]="item">
                {{item.categoryName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Sub Category Name</mat-label>
            <input matInput formControlName="subCatName" required placeholder="Enter Sub Category name">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Slug</mat-label>
            <input matInput formControlName="slug" required placeholder="Enter a slug">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <label>Price Range</label>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
        <div fxFlex="50">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Min Price</mat-label>
            <input matInput formControlName="min" required placeholder="Enter minimum price range" type="number">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Max Price</mat-label>
            <input matInput formControlName="max" required placeholder="Enter maximum price range" type="number">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div> <!-- END OF MAIN FORM -->


    <div class="form-action-bottom">
      <div class="actions">
        <!--        <button routerLink="/admin/products/sub-categories/" [disabled]="isLoading" mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>-->
        <button [disabled]="isLoading" mat-raised-button color="primary" type="submit" class="btn-submit">Update Sub
          Category
        </button>
      </div>
    </div> <!-- END OF BOTTOM ACTION VIEW -->

  </form>

  <div class="filter-input-container">
    <h2>Filter Adjust *</h2>

    <mat-card class="filter-view" *ngFor="let filter of filters; let filterIndex = index">
      <div class="form-builder-container">

        <div class="form-area">
          <div class="title-field-area">
            <mat-form-field appearance="outline" class="mat-form-field-title">
              <mat-label>Filter Title *</mat-label>
              <input matInput placeholder="Enter Filter Title.." [(ngModel)]="filters[filterIndex].title"
                     [value]="filter.title" required>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
          </div> <!-- END FILER TITLE -->
          <div>
            <div class="component-field-area" *ngFor="let com of filter.components; let comIndex = index">
              <mat-form-field appearance="outline" class="mat-form-field-component">
                <mat-label># Component Key</mat-label>
                <input matInput placeholder="Enter Component Key.."
                       [(ngModel)]="filters[filterIndex].components[comIndex].key" [value]="com?.key" required>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <button
                (click)="removeComponentKey(filterIndex, comIndex)"
                class="btn-remove-field"
                mat-icon-button type="button">
                <mat-icon>close</mat-icon>
              </button>
            </div> <!-- END COMPONENT FIELD -->

            <button mat-mini-fab type="button" color="accent" (click)="addComponentKey(filterIndex)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

        <div class="action">
          <button class="btn-save-filter"
                  mat-raised-button color="primary">
            <mat-icon inline="true">save</mat-icon>
            Save Filter
          </button>
        </div>

      </div>
      <button class="remove-filter" mat-mini-fab color="warn" (click)="removeSingleFilter(filterIndex)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card> <!-- END EACH FILTER CARD -->


    <button mat-raised-button color="primary" (click)="onAddFilter()">Add New Filter</button>

  </div> <!-- END OF DYNAMIC FILTER BUILDER -->


</div>
