$font-family: Roboto, sans-serif;
$font-unineue-regular: uniNeueRegular;
$font-unineue-light: uniNeueLight;
$font-unineue-book: uniNeueBook;
$font-unineue-bold: uniNeueBold;
$font-unineue-black: uniNeueBlack;
$font-bn: 'SiyamRupali', sans-serif;
$font-en: 'Open Sans', sans-serif;
$font-en-primary:'Open Sans', sans-serif;;
$theme-max-width: 1260px;

$admin-toolbar-height: 56px;
$admin-sidenav-width: 250px;
$sidenav-user-block-height: 156px;
$mat-sidenav-width: 295px;

// BREAKPOINTS
$max-tablet-width: 899px;

// COLOR
$color-light-gray: #E1E1E1;
$color-primary: #073763;
$color-primary-2: #143161;
$color-secondary: #ea9999;
$icon-default-color: #FFFFFF;

// FONT SIZE
$font-title-size: 24px;
$font-md-title: 18px;
$font-decs-size: 14.5px;

// BACKGROUND
$bg-primary: #073763;
$bg-secondary: #6d97ff;
$bg-accent: #ea9999;
$bg-white: rgb(255, 255, 255);

// IMPORTANT
$toolbar-height: 80px;

