//font-family: 'Open Sans', sans-serif;
//font-family: 'Montserrat', sans-serif;
//font-family: 'Poppins', sans-serif;

// font-family: 'SutonnyMJ', 'arial', sans-serif;
// font-family: 'NotoSansBengaliRegular', 'arial', sans-serif;
// font-family: 'AdorshoLipi', 'arial', sans-serif;

/**
UNI NEUE FONT
 */

@font-face {
  font-family: uniNeueRegular;
  src: url(../assets/fonts/UniNeueRegular.otf) format("opentype");
}

@font-face {
  font-family: uniNeueLight;
  src: url(../assets/fonts/UniNeueLight.otf) format("opentype");
}

@font-face {
  font-family: uniNeueBook;
  src: url(../assets/fonts/UniNeueBook.otf) format("opentype");
}

@font-face {
  font-family: uniNeueBold;
  src: url(../assets/fonts/UniNeueBold.otf) format("opentype");
}

@font-face {
  font-family: uniNeueBlack;
  src: url(../assets/fonts/UniNeueBlack.otf) format("opentype");
}

//
//@font-face {
//  font-family: openSansRegular;
//  src: url(./assets/fonts/open_sans_regular.ttf) format("opentype");
//}
//
//@font-face {
//  font-family: openSansSemiBold;
//  src: url(./assets/fonts/open_sans_semi_bold.ttf) format("opentype");
//}
//
//@font-face {
//  font-family: productSans;
//  src: url(./assets/fonts/product_sans_regular.ttf) format("opentype");
//}
//
//@font-face {
//  font-family: ralewayRegular;
//  src: url(./assets/fonts/raleway_regular.ttf) format("opentype");
//}
//
//@font-face {
//  font-family: ralewayMedium;
//  src: url(./assets/fonts/raleway_medium.ttf) format("opentype");
//}

@import url('https://fonts.maateen.me/adorsho-lipi/font.css');
@import url('https://fonts.maateen.me/siyam-rupali/font.css');

// Bangle
//@font-face {
//  font-family: 'AdorshoLipi';
//  src: url('/assets/fonts/adorsho-lipi.ttf') format("truetype");
//  font-weight: normal;
//  font-style: normal;
//}
//@font-face {
//  font-family: NotoSansBengaliBlack;
//  src: url(assets/fonts/Noto_Sans_Bengali-Black.ttf) format("opentype");
//}
//
//@font-face {
//  font-family: NotoSansBengaliMedium;
//  src: url(assets/fonts/Noto_Sans_Bengali-Medium.ttf) format("opentype");
//}
//
//@font-face {
//  font-family: NotoSansBengaliRegular;
//  src: url(assets/fonts/Noto_Sans_Bengali-Regular.ttf) format("opentype");
//}
//
//@font-face {
//  font-family: NotoSansBengaliSemiBold;
//  src: url(assets/fonts/Noto_Sans_Bengali-Semi-Bold.ttf) format("opentype");
//}
//
//@font-face {
//  font-family: NotoSansBengaliSemiLight;
//  src: url(assets/fonts/Noto_Sans_Bengali-Light.ttf) format("opentype");
//}
//
//@font-face {
//  font-family: NotoSansBengaliSemiThin;
//  src: url(assets/fonts/Noto_Sans_Bengali-Thin.ttf) format("opentype");
//}
