.container {
  margin-bottom: 60px;
}

.card-view {
  width: 100%;
  min-height: 250px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 25px;

  h2 {
    padding-bottom: 12px;
  }

}

