<div style="position: relative" class="container">

<div class="card">
    <div class="card-title">
      <h2>Branch</h2>
      <button mat-button color="primary" (click)="openNewDialog()">
        <mat-icon>add</mat-icon>
        Add New Branch
      </button>
    </div> <!-- END CARD HEADER AREA -->

    <div class="line"></div>

    <div class="address">

      <div
        class="address-list"
        fxLayout="row"
        fxLayoutGap="50px"
        fxLayoutGap.lt-md="16px"
        fxLayoutAlign="start center"
        *ngFor="let branch of branches; let i = index"
      >
        <!-- <div class="select-area">

          <mat-radio-group aria-label="Select an option">
            <mat-radio-button
              (change)="onChangeAddress($event)"
              [value]="i"
              [checked]="selectedAddressIndex === i">
              {{address.addressType | address}}
            </mat-radio-button>
          </mat-radio-group>

        </div> -->
        <div class="info">
          <p>primaryPhoneNo: {{branch.primaryPhoneNo}}</p>
          <p>secondaryPhoneNo: {{branch.secondaryPhoneNo}}</p>
          <p>addressLineOne: {{branch.addressLineOne | titlecase}}</p>
          <p>addressLineTwo: {{branch.addressLineTwo | titlecase }}</p>
          <p>email: {{branch.email}}</p>
          <p>shopOpenTime: {{branch.shopOpenTime}}</p>
          <p>notification: {{branch.notification | titlecase}}</p>
          <p>priority: {{branch.priority}}</p>
        </div>
        <div class="list-action" fxLayout.lt-md="column" fxLayout="row wrap" fxLayoutGap="10px">
          <button mat-mini-fab color="primary" (click)="openNewDialog(branch)">
            <mat-icon>create</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="openConfirmDialog(branch._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

      </div> <!-- END ADDRESS ITEM -->

    </div> <!-- END ADDRESS CONTAINER -->


  </div>
</div>
