@import "../../../theme/variables";


.filter-sidenav {
  width: 280px;
  border: 0 !important;

  .mat-expansion-panel-header-title {
    text-transform: uppercase;
  }
}

.filter-row {
  background: #fff;
  padding: 8px 12px;
}

.all-products {
  min-height: 400px;
  padding: 2px;
  overflow: hidden;

  &.p-left {
    padding-left: 16px;
  }
}

.products-wrapper {
  margin: 8px -8px;
  display: grid; // For Equal Height
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(250px, auto);

  .col {
    padding: 8px;
  }
}

@media(min-width:960px) and (max-width:1000px){
  .products-wrapper{
    grid-template-columns: repeat(4,1fr);
  }
}
@media(max-width:845px){
  .products-wrapper{
    grid-template-columns: repeat(2,1fr);
  }
  .img-thumb img{
    max-height: 300px;
  }
}

@media(max-width:500px){
  .products-wrapper{
    grid-template-columns: repeat(1,1fr);
  }
  .img-thumb img{
    max-height: 100%;
  }
}

.categories-wrapper {
  position: relative;
  max-height: 300px;
}

.filter-buttons {
  button {
    min-width: 36px;
    margin: 0 6px 10px 0;
    padding: 0;
  }
}

.filter-price {
  .mat-slider-horizontal {
    min-width: 110px;
  }
}

.filter-brands {
  button {
    width: 66px;
    height: 44px;
    min-width: 66px;
    margin: 0 6px 10px 0;
    padding: 0px;
    overflow: hidden;

    img {
      width: 66px;
      height: 44px;
    }
  }
}


/**
CUSTOM CARD
 */

.card {
  //width: 100%;
  //max-width: 280px;
  // height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}


.product-card {
  .img-thumb {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    img {
      width: 75%;
      padding: 20px;
    }

    div {
      background-color: #e97b7b;
      border-radius: 5%;
      position: absolute;
      right: 30px;
      top: 20px;
      padding: 2%;
    }

  }

  .desc {
    width: 100%;
    //text-align: center;
    margin-top: 12px;
    padding: 8px 16px;
    text-align: start;


     .title {
      color: #000000;
      font-size: 14.5px;
      line-height: 1.5;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 16px;
      max-height: 32px;
  }

  }

  .product-features {
    padding: 10px 32px;
    display: none;
    ul {
      list-style: square;
      line-height: 1.6;
      font-size: 13.5px;
    }
  }

  .productCard__footer {
    width: 100%;
    // border: 1px solid red;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F8F8;
    /* margin-top: 35px; */
    .productCard__footerIcons {
      display: flex;
      gap: 10px;
    }

    .productCard__price {
      margin: 0;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;

      .productCard__regularPrice {
        font-weight: 400;
        color: #FF3737;
        text-decoration: line-through;
      }

      .productCard__salePrice {
        font-family: $font-en;
        font-weight: 600;
        //color: #02C449;
        color: #0089D0;;
        margin-left: 10px;
      }
    }

  }

  .action {
    margin-top: 16px;
    width: 100%;
    padding: 0 12px 20px;

    .btn {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 9px 20px;
      border: none;
      border-radius: 5px;
      align-items: center;
      gap: 12px;

      &:focus {
        outline: none;
      }
    }
  }

}


/**
LIST VIEW
 */

.products-wrapper-list {
  margin: 8px -8px;
  width: 100%;

  .product-col-list {
    width: 100%;
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;

    .list-card-view {

      display: flex;
      flex-direction: row;
      gap: 60px;

      .img-view {
        width: 175px;
        height: auto;
        position: relative;

        img {
          width: 100%;
          height: auto;
        }

        div {
          background-color: #e97b7b;
          border-radius: 5%;
          position: absolute;
          right: 30px;
          top: 20px;
          padding: 2%;
        }

      }

      .desc-area {
        .product-features {
          padding: 10px 16px;

          ul {
            list-style: square;
            line-height: 1.6;
            font-size: 13.5px;
          }
        }

        .footer-action {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 25px;

          .prices {
            margin: 0 50px 0 0;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;

            .old-price {
              font-weight: 400;
              color: #FF3737;
              text-decoration: line-through;
            }

            .new-price {
              font-family: $font-en;
              font-weight: 600;
              //color: #02C449;
              color: #0089D0;;
              margin-left: 10px;
            }
          }

          .btn {
            width: 200px;
            display: flex;
            justify-content: center;
            padding: 8px 10px;
            border: none;
            border-radius: 5px;
            align-items: center;
            gap: 12px;

            &:focus {
              outline: none;
            }
          }
        }

      }


      .list-product-title {
        color: #000000;
        font-size: 14.5px;
        line-height: 1.5;
        font-weight: 600;
        font-family: $font-en;
        text-decoration: none;
      }

      .action {
        margin: 16px auto;
        width: 280px;
        padding: 0 12px 20px;


      }
    }
  }
}

/**
SUB CAT LIST
 */

.sub-cat-list {
  margin-bottom: 8px;
  a {
    color: #333333;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 6px 12px;
    background: #eeeeee;
    text-decoration: none;
    font-family: $font-en;
    transition: 0.3s all;

    &:hover {
      background: $bg-secondary;
      color: #FFFFFF;
    }
  }
}
@media only screen and (max-width: 599px) {
  .product-card {
    .product-features {
      display: block;
    }

  }
}
