<div style="position: relative">

  <mat-spinner *ngIf="isLoading"
               style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto"
  ></mat-spinner>

  <div class="header-dialog">
    <h1 mat-dialog-title>Add Tab Label</h1>
  </div>

  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div mat-dialog-content>
      <div fxLayout="row wrap">

        <div fxFlex="100">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Label Name</mat-label>
            <input matInput formControlName="label" required placeholder="Enter label name">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>

      </div>
    </div>
    <div mat-dialog-actions>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <button [disabled]="isLoading" mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
        <button [disabled]="isLoading" mat-raised-button color="primary" type="submit">Save</button>
      </div>
    </div>
  </form>


</div>
