<div class="header">
  <button mat-raised-button color="primary" (click)="navigateTo('add-new')">Add New Product</button>
</div>

<!--<p>{{offerProducts | json}}</p>-->
<hr class="center-square">

<div class="table-container">
  <table>
    <thead>
    <tr class="table-head">
      <th scope="col">{{'Image'}}</th>
      <th scope="col">{{'Product Name'}}</th>
      <th scope="col">{{'Tag Name'}}</th>
      <th scope="col">{{'Category Slug'}}</th>
      <th scope="col">{{'Sale Price'}}</th>
      <th scope="col">{{'Actions'}}</th>
    </tr>
    </thead> <!-- End Table Head -->
    <tr *ngFor="let data of offerProducts">
      <td [attr.data-label]="'Image'">
        <img class="table-image" [src]=" data.product | productImage : 'single' "
             [alt]="data.tagName">
      </td>
      <td [attr.data-label]="'Product Name'">{{data.product.name}}</td>
      <td [attr.data-label]="'Tag Name'">{{data.tagName}}</td>
      <td [attr.data-label]="'category Slug'">{{data.product.categorySlug}}</td>
      <td [attr.data-label]="'Sale Price '">{{data.product.salePrice | number : '1.2-2'}}</td>
      <td [attr.data-label]="'Actions'">
        <button mat-mini-fab color="warn" matTooltip="Remove" (click)="remove(data._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr><!-- End Table Body -->

  </table>

</div>


