<div class="footer-sticky">
    <div class="container">
        <div class="ht-item q-actions">
            <a routerLink="/" class="ac h-offer-icon">
                <div class="ic"><i class="material-icons">home</i></div>
                <div class="ac-content">
                    <h5>Home</h5>
                    <p>Latest Offers</p>
                </div>
            </a>
            <!-- <a href="https://www.startech.com.bd/deals" class="ac h-offer-icon">
                <div class="ic"><i class="material-icons blink">flash_on</i></div>
                <div class="ac-content">
                    <h5>Flash Sale</h5>
                    <p>Bijoy Sale</p>
                </div>
            </a> -->
            <a routerLink="/pc-builder" class="ac h-desk build-pc">
                <div class="ic"><i class="material-icons">important_devices</i></div>
                <div class="ac-content">
                    <h5 class="text">PC Builder</h5>
                </div>
            </a>
            <a routerLink="/compare" class="ac cmpr-toggler h-desk">
                <div class="ic"><i class="material-icons">library_add</i></div>
                <div class="ac-content">
                    <h5 class="text">Compare (0)</h5>
                </div>
            </a>
            <div class="ac">
                <a class="ic" routerLink="/login"><i class="material-icons">person</i></a>
                <div class="ac-content">
                    <a routerLink="/login"><h5>Account</h5></a>
<!--                    <p><a href="https://ronecomputersbd.com/login"><span></span></a><a href="https://www.startech.com.bd/account/register">Register</a> or <a href="https://www.startech.com.bd/account/login">Login</a></p>-->
                </div>
            </div>
            <!-- <div class="ac build-pc m-hide">
                <a class="btn" href="https://ronecomputersbd.com/pc-builder">PC Builder</a>
            </div> -->
        </div>
    </div>
</div>
