<mat-card class="container">

  <mat-spinner *ngIf="isLoading"
               style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto"
  ></mat-spinner>

  <div class="header-dialog">
    <h1 mat-dialog-title>Add New Offer Banner</h1>
  </div>

  <div class="image-view-area">
    <img class="img-placeholder" [src]="imgPlaceHolder" alt="">
    <input [hidden]="true" #profileImagePicker type="file" (change)="fileChangeEvent($event)" accept="image/*" />
    <button class="btn-upload" mat-raised-button (click)="profileImagePicker.click()">Upload Image</button>
  </div>

  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()" autocomplete="off" #formDirective="ngForm">
    <div mat-dialog-content>
      <div fxLayout="row wrap">
        <div fxFlex="100">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'title' | titlecase}}</mat-label>
            <input matInput formControlName="title" placeholder="Enter title">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'url' | titlecase}}</mat-label>
            <input matInput formControlName="url" required placeholder="Enter url">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>

      </div>
    </div>
    <div mat-dialog-actions>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <button [disabled]="isLoading" mat-raised-button color="warn" type="button" mat-dialog-close [routerLink]="['../']">Close</button>
        <button [disabled]="isLoading" mat-raised-button color="primary" type="submit">Save</button>
      </div>
    </div>
  </form>


</mat-card>

